<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meiji.toutiao">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".InitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity"/>
        </activity>

        <activity
            android:name=".news.content.NewsContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_news_content"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".other.joke.comment.JokeCommentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_joke_comment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".search.SearchView"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_search"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="com.meiji.toutiao.settings.SettingsActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".other.funny.content.FunnyContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_funny_content"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".photo.content.PhotoContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_photo_content"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".news.channel.NewsChannelActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_item_drag"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".video.content.VideoContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_video_content"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>