<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meiji.toutiao">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".InitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity"/>
        </activity>

        <activity
            android:name=".news.content.NewsContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="新闻内容"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".other.joke.comment.JokeCommentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="段子评论"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".search.SearchView"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="搜索结果"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_activity_settings">
        </activity>


        <activity
            android:name=".other.funny.content.FunnyContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="搞笑内容"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".photo.content.PhotoContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="图片浏览"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".news.channel.NewsChannelActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="拖拽排序"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>